body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: rgb(70, 26, 70);
}

.container {
  display: flex;
}

.card-image {
  padding: 120px 20px 100px 40px;
  width: 50%;
  text-align: center;
}

.card-info {
  padding: 300px 40px 60px 20px;
  width: 50%;
  text-align: center;
  color:rgb(36, 1, 36);
  font-size: 12px;
}

.foto {
  height: 500px;
  width: 500px;
}

.button {
  height: 40px;
  width: 420px;
  color: gray;
  border: none;
  cursor: pointer;
}

input {
  margin-bottom: 10px;
  height: 30px;
  width: 200px;
}

label {
  color: gray;
}

.card-new-user {
  padding: 300px 40px 60px 20px;
  width: 50%;
  text-align: center;
  color: rgb(36, 1, 36);
  font-size: 12px;
}

.input2 {
  margin-bottom: 10px;
  height: 30px;
  width: 410px;
}

.desc {
  width: 500px;
  height: 40px;
}

.deta {
  width: 700px;
  height: 40px;
}

.id {
  width: 500px;
  height: 40px;
}

.salva {
  border: none;
  width: 100px;
  height: 40px;
  color: gray;
}

.logout {
  border: none;
  width: 100px;
  height: 40px;
  color: gray;
}

.edit {
  border: none;
  width: 100px;
  height: 40px;
  color: black;
  background-color: rgb(145, 9, 145)
}

.delete {
  border: none;
  width: 100px;
  height: 40px;
  color:black;
  background-color: rgba(47, 19, 202, 0.575);
}
form {
  margin-left: 10px;
  margin-top: 5px;
  
}

.label {
  font-size: 30px;
}

#msgError {
  text-align: center;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

thead {
  background-color: rgb(209, 207, 207);
}

th {
  max-width: 150px;
  width: 30%;
  height: 20px;
}

td {
  max-width: 150px;
  width: 30%;
  height: 20px;
}
